<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kirill.retrofittry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activities.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:label="login" android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="register" android:name=".activities.RegisterActivity" />
        <activity android:label="courses" android:name=".activities.GetCoursesActivity" />
        <activity android:label="course_details" android:name=".activities.CourseDetailActivity" />
        <activity android:label="themes" android:name=".activities.ThemesActivity"></activity>
    </application>

</manifest>